<option value="" selected disabled hidden>Alege o metodă de criptare</option>

<optgroup label="Cifruri clasice">
  <option value="caesar">Cifrul Caesar</option>
  <option value="vigenere">Cifrul Vigenere</option>
  <option value="affine">Cifrul Afin</option>
  <option value="hill">Cifrul Hill</option>
  <option disabled value="transposition">Cifrul de Transpoziție</option>
  <option disabled value="permutation">Cifrul de Permutare</option>
</optgroup>

<optgroup label="Criptare asimetrică">
  <option value="rsa">RSA (cheie publică/privată)</option>
</optgroup>

<optgroup label="Cifruri moderne pe blocuri (AES)">
  <option value="ecb">AES - ECB (Electronic Codebook)</option>
  <option value="cbc">AES - CBC (Cipher Block Chaining)</option>
</optgroup>

<optgroup label="Funcții de hashing">
  <option value="bcrypt">Bcrypt (hash + salt)</option>
</optgroup>
