<option value="" selected disabled hidden>Alege o metodă de criptare</option>

<optgroup label="Cifruri clasice">
  <option value="caesar">Cifrul Caesar</option>
  <option value="vigenere">Cifrul Vigenere</option>
  <option value="affine">Cifrul Afin</option>
  <option value="hill">Cifrul Hill</option>
  <option value="transposition">Cifrul de Transpoziție</option>
  <option value="permutation">Cifrul de Permutare</option>
</optgroup>
<optgroup label="Criptare modernă">
  <option value="rsa">RSA</option>
  <option value="bcrypt">Bcrypt (hash + salt)</option>
</optgroup>
<optgroup label="Cifruri pe blocuri (simulare)">
  <option value="ecb">ECB</option>
  <option value="cbc">CBC</option>
</optgroup>
