<div id="theme-toggle" class="theme-switch">
  <script>
    // Scriem checkbox-ul deja bifat dacă dark-mode e activ
    document.write(
      `<input type="checkbox" id="toggle-checkbox" hidden ${
        localStorage.getItem("dark-mode") === "1" ? "checked" : ""
      }>`
    );
  </script>
  <label for="toggle-checkbox" class="switch-label"></label>
</div>
