<%- include('partials/header', { title: "404 – Pagina nu a fost găsită" }) %>

<div class="d-flex justify-content-center align-items-center flex-grow-1">
    <div class="card shadow p-5 text-center" style="max-width: 600px; width: 100%;">
      <h1 class="mb-4">404</h1>
      <p class="lead">Ne pare rău, pagina cerută nu există.</p>
    </div>
</div>

<%- include('partials/footer') %>

