<%- include('partials/header', { title: "Autentificare reușită" }) %>

<div class="d-flex justify-content-center align-items-center flex-grow-1">
  <div class="card shadow p-5 text-center" style="max-width: 600px; width: 100%;">
    <h2 class="mb-4">Autentificare reușită!</h2>
    <p class="text-muted">Te-ai conectat cu succes.</p>

    <a href="/profile" class="btn btn-primary mt-3">Accesează profilul</a>
  </div>
</div>

<%- include('partials/footer') %>
